tb/dist/news.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TB</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png">
    <link href="libs/normalize.css/normalize.css" rel="stylesheet">
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?117"></script>
    <link rel="stylesheet" href="libs/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen">
    <link href="css/tb.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body class="tb tb_news">
    <div class="tb-container">
      <div class="tb-background">
        <div data-depth="0.10" class="tb-background__layer tb-background__layer_landscape layer"></div>
        <div data-depth="0.15" class="tb-background__layer tb-background__layer_island layer"></div>
        <div data-depth="0.30" class="tb-background__layer tb-background__layer_rocket layer"></div>
        <div class="tb-background__layer tb-background__layer_mask"></div>
        <div class="tb-background__layer tb-background__layer_squirrel"></div>
      </div>
      <div class="tb-content">
        <div class="tb-header"><a href="index.html" class="tb-logo"></a></div>
        <div class="tb-menu">
          <div class="tb-menu__list">
            <div class="tb-menu__item"><a href="game.html" class="tb-menu__link">Игра</a></div>
            <div class="tb-menu__item tb-menu__item_active"><a href="news.html" class="tb-menu__link">Новости</a></div>
            <div class="tb-menu__item"><a href="http://forum.itsrealgames.com/forum/10-tragediia-belok/" target="_blank" class="tb-menu__link">Форум</a></div>
            <div class="tb-menu__item"><a href="" class="tb-menu__link">Wiki-Белки</a></div>
            <div class="tb-menu__item"><a href="" class="tb-menu__link">Поддержка</a></div>
          </div>
        </div>
        <div class="tb-main">
          <div class="tb-news">
            <div class="tb-news__item">
              <div class="tb-news__head">
                <div class="tb-news__pic"><img src="../media/pic.png" width="100%"></div>
                <div class="tb-news__info">
                  <div class="tb-news__title"><a href="">Сверхзвуковой флэш в трагедии белок!</a></div>
                  <div class="tb-news__date">30 сентября 2015</div>
                  <div class="tb-news__more"><a href="" class="tb-news__btn">Подробнее</a></div>
                </div>
              </div>
              <div class="tb-news__announce">
                <p>Флэш в трагелии белок!</p>
                <p>Это был мрачный день, на небе сверкали молнии. В один момент все замерло. Ящики, палки, все стало подниматься вверх. ЯРКАЯ ВСПЫШКА...</p>
                <table>
                  <tr>
                    <td><img src="../media/flash_1.png" width="550px"></td>
                    <td><img src="../media/flash_2.png" width="355px"></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="tb-news__item">
              <div class="tb-news__head">
                <div class="tb-news__pic"><img src="../media/pic_2.png" width="100%"></div>
                <div class="tb-news__info">
                  <div class="tb-news__title"><a href="">Новые рейтинги трагедии белок 2!</a></div>
                  <div class="tb-news__info-text">Жаркое лето окутало в свои объятия всех жителей планеты. Особая жара пришлась на самое солнечное место маленького беличьего мира - Летающие острова..</div>
                  <div class="tb-news__more"><a href="" class="tb-news__btn">Подробнее</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tb-bottom">
          <div class="tb-screens">
            <div class="tb-screens__item"><a href="img/video.png" rel="screens" style="background-image: url(&quot;img/video.png&quot;)" class="tb-screens__link fancybox"></a></div>
            <div class="tb-screens__item"><a href="../media/screen_1.png" rel="screens" style="background-image: url(&quot;../media/screen_1.png&quot;)" class="tb-screens__link fancybox"></a></div>
            <div class="tb-screens__item"><a href="../media/screen_2.png" rel="screens" style="background-image: url(&quot;../media/screen_2.png&quot;)" class="tb-screens__link fancybox"></a></div>
            <div class="tb-screens__item"><a href="../media/screen_3.png" rel="screens" style="background-image: url(&quot;../media/screen_3.png&quot;)" class="tb-screens__link fancybox"></a></div>
            <div class="tb-screens__item"><a href="../media/screen_4.png" rel="screens" style="background-image: url(&quot;../media/screen_4.png&quot;)" class="tb-screens__link fancybox"></a></div>
            <div class="tb-screens__item"><a href="../media/screen_5.png" rel="screens" style="background-image: url(&quot;../media/screen_5.png&quot;)" class="tb-screens__link fancybox"></a></div>
          </div>
          <div class="tb-count">
            <div class="tb-count__container">В трагедию белок играет&thinsp;<span class="tb-count__total">4 832 211&thinsp;</span>человек</div>
          </div>
          <div class="tb-social">
            <div class="tb-social__comments">
              <div id="vk_comments"></div>
              <!--img(src='../media/comments.png', width='100%')-->
            </div>
            <div class="tb-social__communities">
              <div class="tb-social__title">Играть в соц.сетях:</div>
              <div class="tb-social__links">
                <div class="tb-social__link tb-social__link_vk"><a href=""></a></div>
                <div class="tb-social__link tb-social__link_fb"><a href=""></a></div>
                <div class="tb-social__link tb-social__link_ok"><a href=""></a></div>
                <div class="tb-social__link tb-social__link_mm"><a href=""></a></div>
              </div>
              <div class="tb-tabs">
                <div class="tb-tabs__nav">
                  <div data-tab="vk-tab" class="tb-tabs__btn">
                    <button><img src="img/vk.png">Вконтакте</button>
                  </div>
                  <div data-tab="fb-tab" class="tb-tabs__btn">
                    <button><img src="img/fb.png">Facebook</button>
                  </div>
                </div>
                <div class="tb-tabs__content">
                  <div id="vk-tab" class="tb-tabs__tab">
                    <div id="vk_groups"></div>
                    <!--img(src='../media/vk_group.png', width='100%')-->
                  </div>
                  <div id="fb-tab" class="tb-tabs__tab"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tb-footer">
        <div class="tb-footer__cont">
          <div class="tb-join">
            <div class="tb-join__title">Присоединяйтесь к нам!</div>
            <div class="tb-join__links">
              <div class="tb-join__link tb-join__link_vk"><a href=""></a></div>
              <div class="tb-join__link tb-join__link_fb"><a href=""></a></div>
              <div class="tb-join__link tb-join__link_ok"><a href=""></a></div>
              <div class="tb-join__link tb-join__link_mm"><a href=""></a></div>
              <div class="tb-join__link tb-join__link_yt"><a href=""></a></div>
              <div class="tb-join__link tb-join__link_gp"><a href=""></a></div>
              <div class="tb-join__link tb-join__link_fs"><a href=""></a></div>
            </div>
          </div>
          <div class="tb-footer__copyright"><img src="img/rockstone.png">
            <p><a href="http://rockstonedev.com" target="_blank">rockstonedev.com</a></p>
            <p>Техническая поддержка:&thinsp;<a href="mailto:feedback@itsrealgames.com">feedback@itsrealgames.com</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/parallax/jquery.parallax.js"></script>
    <script type="text/javascript" src="libs/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script src="js/tb.js?v=0.1"></script>
    <script src="js/vk_widgets.js?v=0.1"></script>
  </body>
</html>

tb/source/jade/news.jade
extends ./include/layout.jade
block vars
    - var page = 'news'
block main
    .tb-news
        .tb-news__item
            .tb-news__head
                .tb-news__pic
                    img(src='../media/pic.png', width='100%')
                .tb-news__info
                    .tb-news__title
                        a(href='') Сверхзвуковой флэш в трагедии белок!
                    .tb-news__date 30 сентября 2015
                    .tb-news__more
                        a.tb-news__btn(href='') Подробнее
            .tb-news__announce
                p Флэш в трагелии белок!
                p Это был мрачный день, на небе сверкали молнии. В один момент все замерло. Ящики, палки, все стало подниматься вверх. ЯРКАЯ ВСПЫШКА...
                table
                    tr
                        td
                            img(src='../media/flash_1.png', width='550px')
                        td
                            img(src='../media/flash_2.png', width='355px')
        .tb-news__item
            .tb-news__head
                .tb-news__pic
                    img(src='../media/pic_2.png', width='100%')
                .tb-news__info
                    .tb-news__title
                        a(href='') Новые рейтинги трагедии белок 2!
                    .tb-news__info-text Жаркое лето окутало в свои объятия всех жителей планеты. Особая жара пришлась на самое солнечное место маленького беличьего мира - Летающие острова..
                    .tb-news__more
                        a.tb-news__btn(href='') Подробнее
