chocoapp/dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chocolate</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png">
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mb.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body class="mb">
    <div class="mb-wrapper">
      <div class="mb-line"></div>
      <div class="mb-menu">
        <div class="mb-menu__cont">
          <div class="mb-menu__profile">
            <div style="background-image: url(&quot;http://img2.1001golos.ru/ratings/332000/331279/pic2.jpg&quot;)" class="mb-menu__photo"></div><a href="my-profile.html" class="mb-menu__link"><span>Мой профиль</span></a>
          </div>
          <ul class="mb-menu__list">
            <li class="mb-menu__item mb-menu__item_vip">
              <div class="mb-menu__ico"></div><a href="" class="mb-menu__link"><span>Vip</span></a>
            </li>
            <li class="mb-menu__item mb-menu__item_chat">
              <div class="mb-menu__ico"></div><a href="" title="Сообщения" class="mb-menu__link"><span>Сообщения</span></a><span class="badge">10</span>
            </li>
            <li class="mb-menu__item mb-menu__item_smile">
              <div class="mb-menu__ico"></div><a href="" title="Улыбнулись мне" class="mb-menu__link"><span>Улыбнулись мне</span></a>
            </li>
            <li class="mb-menu__item mb-menu__item_smile">
              <div class="mb-menu__ico"></div><a href="" title="Я улыбнулся" class="mb-menu__link"><span>Я улыбнулся</span></a>
            </li>
            <li class="mb-menu__item mb-menu__item_smile">
              <div class="mb-menu__ico"></div><a href="" title="Взаимные улыбки" class="mb-menu__link"><span>Взаимные улыбки</span></a><span class="badge">1000</span>
            </li>
            <li class="mb-menu__item mb-menu__item_ulibaster">
              <div class="mb-menu__ico"></div><a href="" title="Отправить улыбастер" class="mb-menu__link"><span>Отправить улыбастер</span></a>
            </li>
          </ul>
          <div class="mb-menu__filter">
            <div class="mb-menu__target">Я ищу девушку от 22 - 31</div><a href="" class="mb-menu__change">Изменить</a>
          </div>
          <ul class="mb-menu__info">
            <li><a href="">Правила</a></li>
            <li><a href="">Как оплатить</a></li>
            <li><a href="">Техническая поддержка</a></li>
          </ul>
        </div>
      </div>
      <div class="mb-frame">
        <div class="mb-header">
          <div class="mb-header__left">
            <button type="button" class="mb-menu__btn"></button>
          </div>
          <div class="mb-header__center">
            <div class="mb-logo"></div>
          </div>
          <div class="mb-header__right"></div>
        </div>
        <div class="mb-game">
          <div class="mb-game__cont">
            <div class="mb-game__profile">
              <div class="mb-game__header"><a href="profile.html" class="mb-game__name">Виктория, 19</a></div>
              <div style="background-image: url(&quot;http://i.imgur.com/AEYHJNJ.jpg&quot;)" class="mb-game__photo"></div>
              <div class="mb-game__action">
                <div class="mb-game__btns">
                  <div class="mb-game__dislike"></div>
                  <div class="mb-game__like"></div>
                </div>
              </div>
            </div>
            <div class="mb-game__nav mb-game__nav_prev"></div>
            <div class="mb-game__nav mb-game__nav_next"></div>
            <div class="mb-game__menu">
              <button type="button" class="mb-game__btn mb-game__btn_gift">Подарок</button>
              <button type="button" class="mb-game__btn mb-game__btn_chat">Сообщение</button>
              <button type="button" class="mb-game__btn mb-game__btn_profile">Профиль</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

chocoapp/source/jade/index.jade
extends ./include/layout.jade
block vars
    - var page = 'index'
block header
    .mb-header
        .mb-header__left
            button.mb-menu__btn(type='button')
        .mb-header__center
            .mb-logo
        .mb-header__right
block main
    .mb-game
        .mb-game__cont
            .mb-game__profile
                .mb-game__header
                    a.mb-game__name(href='profile.html') Виктория, 19
                .mb-game__photo(style='background-image: url("http://i.imgur.com/AEYHJNJ.jpg")')
                .mb-game__action
                    .mb-game__btns
                        .mb-game__dislike
                        .mb-game__like
            .mb-game__nav.mb-game__nav_prev
            .mb-game__nav.mb-game__nav_next
            .mb-game__menu
                button.mb-game__btn.mb-game__btn_gift(type='button') Подарок
                button.mb-game__btn.mb-game__btn_chat(type='button') Сообщение
                button.mb-game__btn.mb-game__btn_profile(type='button') Профиль
