chocoapp/dist/profile.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chocolate</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png">
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mb.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body class="mb">
    <div class="mb-wrapper">
      <div class="mb-line"></div>
      <div class="mb-menu">
        <div class="mb-menu__cont">
          <div class="mb-menu__profile">
            <div style="background-image: url(&quot;http://img2.1001golos.ru/ratings/332000/331279/pic2.jpg&quot;)" class="mb-menu__photo"></div><a href="my-profile.html" class="mb-menu__link"><span>Мой профиль</span></a>
          </div>
          <ul class="mb-menu__list">
            <li class="mb-menu__item mb-menu__item_vip">
              <div class="mb-menu__ico"></div><a href="" class="mb-menu__link"><span>Vip</span></a>
            </li>
            <li class="mb-menu__item mb-menu__item_chat">
              <div class="mb-menu__ico"></div><a href="" title="Сообщения" class="mb-menu__link"><span>Сообщения</span></a><span class="badge">10</span>
            </li>
            <li class="mb-menu__item mb-menu__item_smile">
              <div class="mb-menu__ico"></div><a href="" title="Улыбнулись мне" class="mb-menu__link"><span>Улыбнулись мне</span></a>
            </li>
            <li class="mb-menu__item mb-menu__item_smile">
              <div class="mb-menu__ico"></div><a href="" title="Я улыбнулся" class="mb-menu__link"><span>Я улыбнулся</span></a>
            </li>
            <li class="mb-menu__item mb-menu__item_smile">
              <div class="mb-menu__ico"></div><a href="" title="Взаимные улыбки" class="mb-menu__link"><span>Взаимные улыбки</span></a><span class="badge">1000</span>
            </li>
            <li class="mb-menu__item mb-menu__item_ulibaster">
              <div class="mb-menu__ico"></div><a href="" title="Отправить улыбастер" class="mb-menu__link"><span>Отправить улыбастер</span></a>
            </li>
          </ul>
          <div class="mb-menu__filter">
            <div class="mb-menu__target">Я ищу девушку от 22 - 31</div><a href="" class="mb-menu__change">Изменить</a>
          </div>
          <ul class="mb-menu__info">
            <li><a href="">Правила</a></li>
            <li><a href="">Как оплатить</a></li>
            <li><a href="">Техническая поддержка</a></li>
          </ul>
        </div>
      </div>
      <div class="mb-frame">
        <div class="mb-header">
          <div class="mb-header__left">
            <button type="button" class="mb-header__back"></button>
          </div>
          <div class="mb-header__center">
            <div class="mb-header__title">
              <div class="mb-profile__name mb-profile__name_online">Виктория, 28</div>
            </div>
          </div>
          <div class="mb-header__right"></div>
        </div>
        <div class="mb-profile">
          <div class="mb-profile__cont">
            <div class="mb-profile-game">
              <div class="mb-profile-game__photos">
                <div style="background-image: url(&quot;http://i.imgur.com/AEYHJNJ.jpg&quot;)" class="mb-profile-game__photo"></div>
              </div>
              <div class="mb-game__action">
                <div class="mb-game__btns">
                  <div class="mb-game__dislike"></div>
                  <div class="mb-game__like"></div>
                </div>
              </div>
              <div class="mb-game__nav mb-game__nav_prev"></div>
              <div class="mb-game__nav mb-game__nav_next"></div>
            </div>
            <div class="mb-profile__counts">
              <div class="mb-profile__count">
                <div class="mb-profile__rating">
                  <div class="mb-profile__rating-inner">
                    <div class="mb-profile__count-cont">
                      <div class="mb-profile__count-value">50%</div>
                      <div class="mb-profile__count-title">Рейтинг</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-profile__count">
                <div class="mb-profile__count-cont">
                  <div class="mb-profile__count-value">155</div>
                  <div class="mb-profile__count-title">улыбок</div>
                </div>
              </div>
              <div class="mb-profile__count">
                <div class="mb-profile__count-cont">
                  <div class="mb-profile__count-value">255</div>
                  <div class="mb-profile__count-title">голосов</div>
                </div>
              </div>
            </div>
            <div class="mb-profile__btns">
              <button type="button" class="mb-btn mb-btn_pink">Подарить подарок</button>
              <button type="button" class="mb-btn">Написать сообщение</button>
            </div>
            <div class="mb-profile__info">
              <div class="mb-profile__field">
                <div class="mb-profile__field-title">Местоположение</div>
                <div class="mb-profile__field-value">Москва</div>
              </div>
              <div class="mb-profile__field">
                <div class="mb-profile__field-title">О себе</div>
                <div class="mb-profile__field-value mb-profile__field-value_empty">Василий еще не заполнил информацию о себе.</div>
              </div>
              <div class="mb-profile__field">
                <div class="mb-profile__field-title">Интересы</div>
                <div class="mb-profile__field-value mb-profile__field-value_empty">Василий еще не заполнил информацию о себе.</div>
              </div>
              <div class="mb-profile__field">
                <div class="mb-profile__field-title">Личная информация</div>
                <div class="mb-profile__field-value mb-profile__field-value_empty">Василий еще не заполнил информацию о себе.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

chocoapp/source/jade/profile.jade
extends ./include/layout.jade
block vars
    - var page = 'profile'
block header
    .mb-header
        .mb-header__left
            button.mb-header__back(type='button')
        .mb-header__center
            .mb-header__title
                .mb-profile__name.mb-profile__name_online Виктория, 28
        .mb-header__right
block main
    .mb-profile
        .mb-profile__cont
            .mb-profile-game
                .mb-profile-game__photos
                    .mb-profile-game__photo(style='background-image: url("http://i.imgur.com/AEYHJNJ.jpg")')
                .mb-game__action
                    .mb-game__btns
                        .mb-game__dislike
                        .mb-game__like
                .mb-game__nav.mb-game__nav_prev
                .mb-game__nav.mb-game__nav_next
            .mb-profile__counts
                .mb-profile__count
                    .mb-profile__rating
                        .mb-profile__rating-inner
                            .mb-profile__count-cont
                                .mb-profile__count-value 50%
                                .mb-profile__count-title Рейтинг
                .mb-profile__count
                    .mb-profile__count-cont
                        .mb-profile__count-value 155
                        .mb-profile__count-title улыбок
                .mb-profile__count
                    .mb-profile__count-cont
                        .mb-profile__count-value 255
                        .mb-profile__count-title голосов
            .mb-profile__btns
                button.mb-btn.mb-btn_pink(type='button') Подарить подарок
                button.mb-btn(type='button') Написать сообщение
            .mb-profile__info
                .mb-profile__field
                    .mb-profile__field-title Местоположение
                    .mb-profile__field-value Москва
                .mb-profile__field
                    .mb-profile__field-title О себе
                    .mb-profile__field-value.mb-profile__field-value_empty Василий еще не заполнил информацию о себе.
                .mb-profile__field
                    .mb-profile__field-title Интересы
                    .mb-profile__field-value.mb-profile__field-value_empty Василий еще не заполнил информацию о себе.
                .mb-profile__field
                    .mb-profile__field-title Личная информация
                    .mb-profile__field-value.mb-profile__field-value_empty Василий еще не заполнил информацию о себе.
