ac_admin/source/jade/login.jade
doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title AC Admin
        include ./include/styles.jade
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->
    body.ac
        .ac-login
            .ac-login__cont
                form.ac-login__form
                    .ac-login__title Авторизация
                    .form-group
                        input.form-control#auth__phone(type='text', placeholder='7 ( ___ ) - ___ - __ - __', required='required')
                    .form-group
                        input.form-control(type='password', placeholder='Пароль')
                    .checkbox.ac-login__remember
                        input#remember(type='checkbox')
                        label(for='remember')
                            span Запомнить меня
                    .ac-login__submit
                        button.btn.btn-warning.btn-block.btn-big(type='submit') Войти
        include ./include/js.jade

ac_admin_side/dist/login.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AC Admin</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="libs/bootstrap-star-rating/css/star-rating.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body class="ac">
    <div class="ac-login">
      <div class="ac-login__cont">
        <form class="ac-login__form">
          <div class="ac-login__title">Авторизация</div>
          <div class="form-group">
            <input id="auth__phone" type="text" placeholder="7 ( ___ ) - ___ - __ - __" required="required" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Пароль" class="form-control">
          </div>
          <div class="checkbox ac-login__remember">
            <input id="remember" type="checkbox">
            <label for="remember"><span>Запомнить меня</span></label>
          </div>
          <div class="ac-login__submit">
            <button type="submit" class="btn btn-warning btn-block btn-big">Войти</button>
          </div>
        </form>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="libs/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="libs/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
