ac_admin/source/jade/reviews.jade
extends ./include/layout.jade
block vars
    - var page = 'prods'
block main
    .ac-main
        .ac-main__header
            .ac-main__title
                ol.breadcrumb
                    li
                        a(href="#") Карточка товара
                    li.active Отзывы
        .ac-main__body.ac-reviews
            .ac-reviews__list
                .ac-reviews__title Отзывы (10)
                .ac-reviews__item.ac-editable
                    .ac-reviews__name
                        span Дарья Семенова
                        button.ac-editable__edit(type='button') Редактировать
                        button.ac-editable__delete(type='button') ×
                    .ac-reviews__rating
                        input(type="number", value='3')
                    .ac-reviews__value
                        .ac-reviews__text.ac-editable__text Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                        textarea.form-control.ac-editable__input Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                    button.ac-editable__save(type='button') Сохранить
                .ac-reviews__item.ac-editable
                    .ac-reviews__name
                        span Дарья Семенова
                        button.ac-editable__edit(type='button') Редактировать
                        button.ac-editable__delete(type='button') ×
                    .ac-reviews__rating
                        input(type="number", value='3')
                    .ac-reviews__value
                        .ac-reviews__text.ac-editable__text Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                        textarea.form-control.ac-editable__input Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                    button.ac-editable__save(type='button') Сохранить
            nav
                ul.pagination
                    li
                        a(href="#") <i class="glyphicon glyphicon-menu-left"></i> Назад
                    li
                        a(href="#") 1
                    li.active
                        a(href="#") 2
                    li
                        a(href="#") 3
                    li
                        a(href="#")
                            span Вперед <i class="glyphicon glyphicon-menu-right"></i>
            .ac-product__submit
                button.btn.btn-success.btn-big(type='submit') Сохранить товар

ac_admin/dist/reviews.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AC Admin</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="libs/bootstrap-star-rating/css/star-rating.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body class="ac">
    <div class="ac-wrapper">
      <div class="ac-header">
        <div class="ac-header__cont">
          <div class="ac-menu">
            <ul class="ac-menu__list">
              <li class="ac-menu__item ac-menu__item_active"><a href="" class="ac-menu__link"><span>Товары</span></a></li>
              <li class="ac-menu__item"><a href="" class="ac-menu__link"><span>Жалобы</span></a></li>
            </ul>
          </div>
          <div class="ac-profile dropdown">
            <div data-toggle="dropdown" class="ac-profile__toggle dropdown-toggle">
              <div style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/fe/57/35/fe573581a14e38174ae4b79fcb72ec23.jpg)" class="ac-profile__toggle-photo"></div>
            </div>
            <div class="ac-profile__cont dropdown-menu dropdown-menu-right">
              <div style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/fe/57/35/fe573581a14e38174ae4b79fcb72ec23.jpg)" class="ac-profile__photo"></div>
              <div class="ac-profile__info">
                <div class="ac-profile__name">Яблоков Владимир</div><a href="" class="ac-profile__logout">Выйти</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ac-main">
        <div class="ac-main__header">
          <div class="ac-main__title">
            <ol class="breadcrumb">
              <li><a href="#">Карточка товара</a></li>
              <li class="active">Отзывы</li>
            </ol>
          </div>
        </div>
        <div class="ac-main__body ac-reviews">
          <div class="ac-reviews__list">
            <div class="ac-reviews__title">Отзывы (10)</div>
            <div class="ac-reviews__item ac-editable">
              <div class="ac-reviews__name"><span>Дарья Семенова</span>
                <button type="button" class="ac-editable__edit">Редактировать</button>
                <button type="button" class="ac-editable__delete">×</button>
              </div>
              <div class="ac-reviews__rating">
                <input type="number" value="3">
              </div>
              <div class="ac-reviews__value">
                <div class="ac-reviews__text ac-editable__text">Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное</div>
                <textarea class="form-control ac-editable__input">Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное</textarea>
              </div>
              <button type="button" class="ac-editable__save">Сохранить</button>
            </div>
            <div class="ac-reviews__item ac-editable">
              <div class="ac-reviews__name"><span>Дарья Семенова</span>
                <button type="button" class="ac-editable__edit">Редактировать</button>
                <button type="button" class="ac-editable__delete">×</button>
              </div>
              <div class="ac-reviews__rating">
                <input type="number" value="3">
              </div>
              <div class="ac-reviews__value">
                <div class="ac-reviews__text ac-editable__text">Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное</div>
                <textarea class="form-control ac-editable__input">Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное</textarea>
              </div>
              <button type="button" class="ac-editable__save">Сохранить</button>
            </div>
          </div>
          <nav>
            <ul class="pagination">
              <li><a href="#"><i class="glyphicon glyphicon-menu-left"></i> Назад</a></li>
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><span>Вперед <i class="glyphicon glyphicon-menu-right"></i></span></a></li>
            </ul>
          </nav>
          <div class="ac-product__submit">
            <button type="submit" class="btn btn-success btn-big">Сохранить товар</button>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="libs/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="libs/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
