ac_admin_side/source/jade/index.jade
extends ./include/layout.jade
block vars
    - var page = 'prods'
block main
    .ac-main
        .ac-main__header
            .ac-main__title
                ol.breadcrumb
                    li
                        a(href='') Товары
                    li.active Новый товар
        .ac-main__body.ac-newprod
            form.ac-newprod__form
                    .container-fluid
                        .row
                            .col-md-12.col-sm-12
                                .form-group
                                    button.btn(type='button') Загрузить фото
                                .form-group
                                    label Наименование
                                    input.form-control(type='text', placeholder='Введите наименование')
                                .form-group
                                    label Штрих-код товара
                                    input.form-control(type='text', placeholder='Введите штрих-код')
                                .form-group
                                    label Производитель
                                    input.form-control(type='text', placeholder='Введите производителя')
                                .form-group
                                    label Бренд
                                    input.form-control(type='text', placeholder='Введите бренд')
                            .col-md-12.col-sm-12
                                .form-group
                                    button.btn(type='button') Добавить отзыв
                                .form-group
                                    label ГОСТ
                                    input.form-control(type='text', placeholder='Введите ГОСТ')
                                .form-group
                                    label Цены
                                    .ac-prices
                                        .ac-prices__list
                                            .ac-prices__price
                                                .ac-prices__shop
                                                    select.selectpicker(placeholder='Магазин')
                                                        option(value='0') Ашан
                                                        option(value='1') Перекресток
                                                        option(value='2') Магнит
                                                .ac-prices__value
                                                    .ac-prices__control
                                                        input.form-control(type='text')
                                                    .ac-prices__label руб.
                                                .ac-prices__value
                                                    .ac-prices__control
                                                        input.form-control(type='text')
                                                    .ac-prices__label коп.
                                        .ac-prices__new
                                            button.btn(type='button') Добавить магазин
                        .row
                            .col-md-12
                                .ac-newprod__submit
                                    button.btn.btn-success.btn-big(type='submit') Сохранить товар

ac_admin_side/dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AC Admin</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="libs/bootstrap-star-rating/css/star-rating.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body class="ac">
    <div class="ac-wrapper">
      <div class="ac-sidebar">
        <div class="ac-sidebar__cont">
          <div class="ac-profile dropdown">
            <div data-toggle="dropdown" class="ac-profile__toggle dropdown-toggle">
              <div style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/fe/57/35/fe573581a14e38174ae4b79fcb72ec23.jpg)" class="ac-profile__toggle-photo"></div>
              <div class="ac-profile__toggle-name">Admin</div>
            </div>
            <div class="ac-profile__cont dropdown-menu">
              <div style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/fe/57/35/fe573581a14e38174ae4b79fcb72ec23.jpg)" class="ac-profile__photo"></div>
              <div class="ac-profile__info">
                <div class="ac-profile__name">Яблоков Владимир</div><a href="" class="ac-profile__logout">Выйти</a>
              </div>
            </div>
          </div>
          <div class="ac-menu">
            <ul class="ac-menu__list">
              <li class="ac-menu__item ac-menu__item_active"><a href="" class="ac-menu__link"><span>Товары</span></a></li>
              <li class="ac-menu__item"><a href="" class="ac-menu__link"><span>Жалобы</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="ac-board">
        <div class="ac-main">
          <div class="ac-main__header">
            <div class="ac-main__title">
              <ol class="breadcrumb">
                <li><a href="">Товары</a></li>
                <li class="active">Новый товар</li>
              </ol>
            </div>
          </div>
          <div class="ac-main__body ac-newprod">
            <form class="ac-newprod__form">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                      <button type="button" class="btn">Загрузить фото</button>
                    </div>
                    <div class="form-group">
                      <label>Наименование</label>
                      <input type="text" placeholder="Введите наименование" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Штрих-код товара</label>
                      <input type="text" placeholder="Введите штрих-код" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Производитель</label>
                      <input type="text" placeholder="Введите производителя" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Бренд</label>
                      <input type="text" placeholder="Введите бренд" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                      <button type="button" class="btn">Добавить отзыв</button>
                    </div>
                    <div class="form-group">
                      <label>ГОСТ</label>
                      <input type="text" placeholder="Введите ГОСТ" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Цены</label>
                      <div class="ac-prices">
                        <div class="ac-prices__list">
                          <div class="ac-prices__price">
                            <div class="ac-prices__shop">
                              <select placeholder="Магазин" class="selectpicker">
                                <option value="0">Ашан</option>
                                <option value="1">Перекресток</option>
                                <option value="2">Магнит</option>
                              </select>
                            </div>
                            <div class="ac-prices__value">
                              <div class="ac-prices__control">
                                <input type="text" class="form-control">
                              </div>
                              <div class="ac-prices__label">руб.</div>
                            </div>
                            <div class="ac-prices__value">
                              <div class="ac-prices__control">
                                <input type="text" class="form-control">
                              </div>
                              <div class="ac-prices__label">коп.</div>
                            </div>
                          </div>
                        </div>
                        <div class="ac-prices__new">
                          <button type="button" class="btn">Добавить магазин</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="ac-newprod__submit">
                      <button type="submit" class="btn btn-success btn-big">Сохранить товар</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="libs/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="libs/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
