ac_admin/dist/product.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AC Admin</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="libs/bootstrap-star-rating/css/star-rating.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body class="ac">
    <div class="ac-wrapper">
      <div class="ac-header">
        <div class="ac-header__cont">
          <div class="ac-menu">
            <ul class="ac-menu__list">
              <li class="ac-menu__item ac-menu__item_active"><a href="" class="ac-menu__link"><span>Товары</span></a></li>
              <li class="ac-menu__item"><a href="" class="ac-menu__link"><span>Жалобы</span></a></li>
            </ul>
          </div>
          <div class="ac-profile dropdown">
            <div data-toggle="dropdown" class="ac-profile__toggle dropdown-toggle">
              <div style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/fe/57/35/fe573581a14e38174ae4b79fcb72ec23.jpg)" class="ac-profile__toggle-photo"></div>
            </div>
            <div class="ac-profile__cont dropdown-menu dropdown-menu-right">
              <div style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/fe/57/35/fe573581a14e38174ae4b79fcb72ec23.jpg)" class="ac-profile__photo"></div>
              <div class="ac-profile__info">
                <div class="ac-profile__name">Яблоков Владимир</div><a href="" class="ac-profile__logout">Выйти</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ac-main">
        <div class="ac-main__header">
          <div class="ac-main__title">
            <ol class="breadcrumb">
              <li class="active">Отзывы</li>
            </ol>
          </div>
        </div>
        <div class="ac-main__body ac-product">
          <form class="ac-product__form">
            <div class="ac-product__cont">
              <div class="ac-product__cover">
                <div style="background-image: url(&quot;http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg&quot;)" class="ac-product__photo"><a href="" class="ac-product__photo-link"></a>
                  <button type="button" class="ac-product__photo-delete">×</button>
                </div>
                <div class="ac-product__cover-load">
                  <button type="button" class="btn">Загрузить фото</button>
                </div>
              </div>
              <div class="ac-product__info">
                <div class="ac-product__field ac-editable">
                  <div class="ac-product__label">
                    <label>Наименование:</label>
                    <button type="button" class="ac-editable__edit">Редактировать</button>
                  </div>
                  <div class="ac-product__value">
                    <input type="text" value="Молоко цельное отборное пастеризованное “Домик в деревне”" class="form-control ac-editable__input">
                    <div class="ac-product__text ac-editable__text">Молоко цельное отборное пастеризованное “Домик в деревне”</div>
                  </div>
                  <button type="button" class="ac-editable__save">Сохранить</button>
                </div>
                <div class="ac-product__field">
                  <div class="ac-product__label">
                    <label>Гост:</label>
                  </div>
                  <div class="ac-product__value">
                    <div class="ac-product__text">0825586558265</div>
                  </div>
                </div>
                <div class="ac-product__field ac-editable">
                  <div class="ac-product__label">
                    <label>Бренд:</label>
                    <button type="button" class="ac-editable__edit">Редактировать</button>
                  </div>
                  <div class="ac-product__value">
                    <input type="text" value="Домик в деревне" class="form-control ac-editable__input">
                    <div class="ac-product__text ac-editable__text">Домик в деревне</div>
                  </div>
                  <button type="button" class="ac-editable__save">Сохранить</button>
                </div>
                <div class="ac-product__field ac-editable">
                  <div class="ac-product__label">
                    <label>Производитель:</label>
                    <button type="button" class="ac-editable__edit">Редактировать</button>
                  </div>
                  <div class="ac-product__value">
                    <input type="text" value="Домик в деревне" class="form-control ac-editable__input">
                    <div class="ac-product__text ac-editable__text">Домик в деревне</div>
                  </div>
                  <button type="button" class="ac-editable__save">Сохранить</button>
                </div>
                <div class="ac-product__field">
                  <div data-toggle="collapse" data-target="#reviews" class="ac-product__label ac-reviews__toggle">
                    <label>Отзывы (5):</label>
                  </div>
                  <div class="ac-reviews">
                    <div id="reviews" class="ac-reviews__list collapse">
                      <div class="ac-reviews__item ac-editable">
                        <div class="ac-reviews__name"><span>Дарья Семенова</span>
                          <button type="button" class="ac-editable__edit">Редактировать</button>
                        </div>
                        <div class="ac-reviews__rating">
                          <input type="number" value="3">
                        </div>
                        <div class="ac-reviews__value">
                          <div class="ac-reviews__text ac-editable__text">Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное</div>
                          <textarea class="form-control ac-editable__input">Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное</textarea>
                        </div>
                        <button type="button" class="ac-editable__save">Сохранить</button>
                      </div>
                      <div class="ac-reviews__item ac-editable">
                        <div class="ac-reviews__name"><span>Дарья Семенова</span>
                          <button type="button" class="ac-editable__edit">Редактировать</button>
                        </div>
                        <div class="ac-reviews__rating">
                          <input type="number" value="3">
                        </div>
                        <div class="ac-reviews__value">
                          <div class="ac-reviews__text ac-editable__text">Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное</div>
                          <textarea class="form-control ac-editable__input">Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное</textarea>
                        </div>
                        <button type="button" class="ac-editable__save">Сохранить</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ac-product__field">
                  <div class="ac-product__label">
                    <label>Цены:</label>
                  </div>
                  <div class="ac-prices">
                    <div class="ac-prices__list">
                      <div class="ac-prices__price ac-product__value ac-editable">
                        <div class="ac-prices__shop">
                          <label>Ашан</label>
                          <input type="text" value="0" class="ac-prices__shop-input">
                        </div>
                        <div class="ac-prices__value">
                          <div class="ac-prices__control">
                            <input type="text" value="10" class="form-control ac-editable__input">
                            <div class="ac-product__text ac-editable__text">10</div>
                          </div>
                          <div class="ac-prices__label">руб.</div>
                        </div>
                        <div class="ac-prices__value">
                          <div class="ac-prices__control">
                            <input type="text" value="10" class="form-control ac-editable__input">
                            <div class="ac-product__text ac-editable__text">10</div>
                          </div>
                          <div class="ac-prices__label">коп.</div>
                        </div>
                        <div class="ac-prices__action">
                          <button type="" class="ac-editable__save">Сохранить</button>
                        </div>
                        <div class="ac-prices__action">
                          <button type="" class="ac-editable__edit">Редактировать</button>
                        </div>
                        <div class="ac-prices__action">
                          <button type="" class="ac-editable__delete">×</button>
                        </div>
                      </div>
                      <div class="ac-prices__price ac-product__value ac-editable">
                        <div class="ac-prices__shop">
                          <label>Магнит</label>
                        </div>
                        <div class="ac-prices__value">
                          <div class="ac-prices__control">
                            <input type="text" value="10" class="form-control ac-editable__input">
                            <div class="ac-product__text ac-editable__text">10</div>
                          </div>
                          <div class="ac-prices__label">руб.</div>
                        </div>
                        <div class="ac-prices__value">
                          <div class="ac-prices__control">
                            <input type="text" value="10" class="form-control ac-editable__input">
                            <div class="ac-product__text ac-editable__text">10</div>
                          </div>
                          <div class="ac-prices__label">коп.</div>
                        </div>
                        <div class="ac-prices__action">
                          <button type="" class="ac-editable__save">Сохранить</button>
                        </div>
                        <div class="ac-prices__action">
                          <button type="" class="ac-editable__edit">Редактировать</button>
                        </div>
                        <div class="ac-prices__action">
                          <button type="" class="ac-editable__delete">×</button>
                        </div>
                      </div>
                    </div>
                    <div class="ac-prices__new">
                      <button type="button" data-edit="true" class="btn">Добавить магазин</button>
                    </div>
                  </div>
                </div>
                <div class="ac-product__field ac-editable">
                  <div class="ac-product__label">
                    <label>Описание:</label>
                    <button type="button" class="ac-editable__edit">Редактировать</button>
                  </div>
                  <div class="ac-product__value">
                    <textarea class="form-control ac-editable__input">Молоко цельное отборное пастеризованное “Домик в деревне”</textarea>
                    <div class="ac-product__text ac-editable__text">Молоко цельное отборное пастеризованное “Домик в деревне”</div>
                  </div>
                  <button type="button" class="ac-editable__save">Сохранить</button>
                </div>
                <div class="ac-product__submit">
                  <button type="submit" class="btn btn-success btn-big">Сохранить товар</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="libs/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="libs/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

ac_admin_side/source/jade/product.jade
extends ./include/layout.jade
block vars
    - var page = 'prods'
block main
    .ac-main
        .ac-main__header
            .ac-main__title
                ol.breadcrumb
                    li.active Карточка товара
        .ac-main__body.ac-product
            form.ac-product__form
                .ac-product__cont
                    .ac-product__cover
                        .ac-product__photo(style='background-image: url("http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg")')
                            a.ac-product__photo-link(href='')
                            button(type='button').ac-product__photo-delete ×
                        .ac-product__cover-load
                            button.btn(type='button') Загрузить фото
                    .ac-product__info
                        .ac-product__field.ac-editable
                            .ac-product__label
                                label Наименование:
                                button.ac-editable__edit(type='button') Редактировать
                            .ac-product__value
                                input.form-control.ac-editable__input(type='text', value='Молоко цельное отборное пастеризованное “Домик в деревне”')
                                .ac-product__text.ac-editable__text Молоко цельное отборное пастеризованное “Домик в деревне”
                            button.ac-editable__save(type='button') Сохранить
                        .ac-product__field
                            .ac-product__label
                                label Гост:
                            .ac-product__value
                                .ac-product__text 0825586558265
                        .ac-product__field.ac-editable
                            .ac-product__label
                                label Бренд:
                                button.ac-editable__edit(type='button') Редактировать
                            .ac-product__value
                                input.form-control.ac-editable__input(type='text', value='Домик в деревне')
                                .ac-product__text.ac-editable__text Домик в деревне
                            button.ac-editable__save(type='button') Сохранить
                        .ac-product__field.ac-editable
                            .ac-product__label
                                label Производитель:
                                button.ac-editable__edit(type='button') Редактировать
                            .ac-product__value
                                input.form-control.ac-editable__input(type='text', value='Домик в деревне')
                                .ac-product__text.ac-editable__text Домик в деревне
                            button.ac-editable__save(type='button') Сохранить
                        .ac-product__field
                            .ac-product__label.ac-reviews__toggle(data-toggle="collapse", data-target="#reviews")
                                label Отзывы (5):
                            .ac-reviews
                                .ac-reviews__list.collapse#reviews
                                    .ac-reviews__item.ac-editable
                                        .ac-reviews__name
                                            span Дарья Семенова
                                            button.ac-editable__edit(type='button') Редактировать
                                        .ac-reviews__rating
                                            input(type="number", value='3')
                                        .ac-reviews__value
                                            .ac-reviews__text.ac-editable__text Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                                            textarea.form-control.ac-editable__input Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                                        button.ac-editable__save(type='button') Сохранить
                                    .ac-reviews__item.ac-editable
                                        .ac-reviews__name
                                            span Дарья Семенова
                                            button.ac-editable__edit(type='button') Редактировать
                                        .ac-reviews__rating
                                            input(type="number", value='3')
                                        .ac-reviews__value
                                            .ac-reviews__text.ac-editable__text Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                                            textarea.form-control.ac-editable__input Всем привет! Я очень люблю молоко, с самого детства приучили так сказать, правда разница великая молоко из под коровы парное
                                        button.ac-editable__save(type='button') Сохранить
                        .ac-product__field
                            .ac-product__label
                                label Цены:
                            .ac-prices
                                .ac-prices__list
                                    .ac-prices__price.ac-product__value.ac-editable
                                        .ac-prices__shop
                                            label Ашан
                                            input.ac-prices__shop-input(type='text', value='0')
                                        .ac-prices__value
                                            .ac-prices__control
                                                input.form-control.ac-editable__input(type='text', value='10')
                                                .ac-product__text.ac-editable__text 10
                                            .ac-prices__label руб.
                                        .ac-prices__value
                                            .ac-prices__control
                                                input.form-control.ac-editable__input(type='text', value='10')
                                                .ac-product__text.ac-editable__text 10
                                            .ac-prices__label коп.
                                        .ac-prices__action
                                            button.ac-editable__save(type='') Сохранить
                                        .ac-prices__action
                                            button.ac-editable__edit(type='') Редактировать
                                        .ac-prices__action
                                            button.ac-editable__delete(type='') ×
                                    .ac-prices__price.ac-product__value.ac-editable
                                        .ac-prices__shop
                                            label Магнит
                                        .ac-prices__value
                                            .ac-prices__control
                                                input.form-control.ac-editable__input(type='text', value='10')
                                                .ac-product__text.ac-editable__text 10
                                            .ac-prices__label руб.
                                        .ac-prices__value
                                            .ac-prices__control
                                                input.form-control.ac-editable__input(type='text', value='10')
                                                .ac-product__text.ac-editable__text 10
                                            .ac-prices__label коп.
                                        .ac-prices__action
                                            button.ac-editable__save(type='') Сохранить
                                        .ac-prices__action
                                            button.ac-editable__edit(type='') Редактировать
                                        .ac-prices__action
                                            button.ac-editable__delete(type='') ×
                                .ac-prices__new
                                    button.btn(type='button', data-edit='true') Добавить магазин
                        .ac-product__field.ac-editable
                            .ac-product__label
                                label Описание:
                                button.ac-editable__edit(type='button') Редактировать
                            .ac-product__value
                                textarea.form-control.ac-editable__input Молоко цельное отборное пастеризованное “Домик в деревне”
                                .ac-product__text.ac-editable__text Молоко цельное отборное пастеризованное “Домик в деревне”
                            button.ac-editable__save(type='button') Сохранить
                        .ac-product__submit
                            button.btn.btn-success.btn-big(type='submit') Сохранить товар
