ac_admin/dist/search.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AC Admin</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="libs/bootstrap-star-rating/css/star-rating.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body class="ac">
    <div class="ac-wrapper">
      <div class="ac-header">
        <div class="ac-header__cont">
          <div class="ac-menu">
            <ul class="ac-menu__list">
              <li class="ac-menu__item ac-menu__item_active"><a href="" class="ac-menu__link"><span>Товары</span></a></li>
              <li class="ac-menu__item"><a href="" class="ac-menu__link"><span>Жалобы</span></a></li>
            </ul>
          </div>
          <div class="ac-profile dropdown">
            <div data-toggle="dropdown" class="ac-profile__toggle dropdown-toggle">
              <div style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/fe/57/35/fe573581a14e38174ae4b79fcb72ec23.jpg)" class="ac-profile__toggle-photo"></div>
            </div>
            <div class="ac-profile__cont dropdown-menu dropdown-menu-right">
              <div style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/fe/57/35/fe573581a14e38174ae4b79fcb72ec23.jpg)" class="ac-profile__photo"></div>
              <div class="ac-profile__info">
                <div class="ac-profile__name">Яблоков Владимир</div><a href="" class="ac-profile__logout">Выйти</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ac-main">
        <div class="ac-main__header">
          <div class="ac-main__title">
            <ol class="breadcrumb">
              <li><a href="#">Поиск товаров</a></li>
              <li class="active">Отзывы</li>
            </ol>
          </div>
          <div class="ac-main__action"><a href="index.html" class="btn btn-success btn-big"><span class="btn__ico">+</span><span>Добавить товар</span></a></div>
        </div>
        <div class="ac-search">
          <form class="ac-search__form">
            <div class="ac-search__row">
              <div class="ac-search__field">
                <label>Поиск</label>
              </div>
              <div class="ac-search__field ac-search__input">
                <input type="text" placeholder="Введите штрих-код" class="form-control">
              </div>
              <div class="ac-search__field">
                <select class="selectpicker ac-search__type">
                  <option>Штрих-код</option>
                  <option>Название</option>
                </select>
              </div>
              <div class="ac-search__field ac-search__submit">
                <button type="submit" class="btn">Найти</button>
              </div>
            </div>
          </form>
          <div class="ac-search__result">
            <div class="ac-search__title">40 товаров</div>
            <table class="ac-search__table">
              <tr>
                <td class="ac-search__cover">
                  <div style="background-image: url(&quot;http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg&quot;)" class="ac-search__photo"></div>
                </td>
                <td class="ac-search__name">Молоко цельное отборное пастеризованное “Домик в деревне”</td>
                <td class="ac-search__code">0825586558265</td>
              </tr>
              <tr>
                <td class="ac-search__cover">
                  <div style="background-image: url(&quot;http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg&quot;)" class="ac-search__photo"></div>
                </td>
                <td class="ac-search__name">Молоко цельное отборное пастеризованное “Домик в деревне”</td>
                <td class="ac-search__code">0825586558265</td>
              </tr>
              <tr>
                <td class="ac-search__cover">
                  <div style="background-image: url(&quot;http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg&quot;)" class="ac-search__photo"></div>
                </td>
                <td class="ac-search__name">Молоко цельное отборное пастеризованное “Домик в деревне”</td>
                <td class="ac-search__code">0825586558265</td>
              </tr>
              <tr>
                <td class="ac-search__cover">
                  <div style="background-image: url(&quot;http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg&quot;)" class="ac-search__photo"></div>
                </td>
                <td class="ac-search__name">Молоко цельное отборное пастеризованное “Домик в деревне”</td>
                <td class="ac-search__code">0825586558265</td>
              </tr>
            </table>
            <nav>
              <ul class="pagination">
                <li class="disabled"><span><i class="glyphicon glyphicon-menu-left"></i> Назад</span></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><span>...</span></li>
                <li><a href="#">10</a></li>
                <li><a href="#"><span>Вперед <i class="glyphicon glyphicon-menu-right"></i></span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="libs/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="libs/jquery.maskedinput/dist/jquery.maskedinput.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

ac_admin_side/source/jade/search.jade
extends ./include/layout.jade
block vars
    - var page = 'prods'
block main
    .ac-main
        .ac-main__header
            .ac-main__title
                ol.breadcrumb
                    li
                        a(href="#") Поиск товаров
                    li.active Отзывы
            .ac-main__action
                a.btn.btn-success.btn-big(href='index.html')
                    span.btn__ico +
                    span Добавить товар
        .ac-search
            form.ac-search__form
                .ac-search__row
                    .ac-search__field
                        label Поиск
                    .ac-search__field.ac-search__input
                        input.form-control(type='text', placeholder='Введите штрих-код')
                    .ac-search__field
                        select.selectpicker.ac-search__type
                            option Штрих-код
                            option Название
                    .ac-search__field.ac-search__submit
                        button.btn(type='submit') Найти
            .ac-search__result
                .ac-search__title 40 товаров
                table.ac-search__table
                    tr
                        td.ac-search__cover
                            .ac-search__photo(style='background-image: url("http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg")')
                        td.ac-search__name Молоко цельное отборное пастеризованное “Домик в деревне”
                        td.ac-search__code 0825586558265
                    tr
                        td.ac-search__cover
                            .ac-search__photo(style='background-image: url("http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg")')
                        td.ac-search__name Молоко цельное отборное пастеризованное “Домик в деревне”
                        td.ac-search__code 0825586558265
                    tr
                        td.ac-search__cover
                            .ac-search__photo(style='background-image: url("http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg")')
                        td.ac-search__name Молоко цельное отборное пастеризованное “Домик в деревне”
                        td.ac-search__code 0825586558265
                    tr
                        td.ac-search__cover
                            .ac-search__photo(style='background-image: url("http://shop.24-7-365.ru/image/cache/data/tov/3049009b-320x320.jpg")')
                        td.ac-search__name Молоко цельное отборное пастеризованное “Домик в деревне”
                        td.ac-search__code 0825586558265
                nav
                    ul.pagination
                        li.disabled
                            span <i class="glyphicon glyphicon-menu-left"></i> Назад
                        li.active
                            a(href="#") 1
                        li
                            a(href="#") 2
                        li
                            a(href="#") 3
                        li
                            a(href="#") 4
                        li
                            a(href="#") 5
                        li
                            a(href="#") 6
                        li
                            span ...
                        li
                            a(href="#") 10
                        li
                            a(href="#")
                                span Вперед <i class="glyphicon glyphicon-menu-right"></i>
