ortnec/source/jade/index.jade
extends ./include/layout.jade
block main
    .ort-profile
        .ort-profile__main
            .ort-profile__main-video
                video#ort-profile-video.ort-player.video-js.vjs-big-play-centered
                    source(src="../media/video_720.mp4", type='video/mp4', q='lq', size="1 Mb")
                    source(src="../media/video.webm", type='video/webm', q='lq', size="1 Mb")
                    source(src="../media/video.ogg", type='video/ogg', q='lq', size="1 Mb")
                    p.vjs-no-js
                        | To view this video please enable JavaScript, and consider upgrading to a web browser that&thinsp;
                        a(href="http://videojs.com/html5-video-support/", target="_blank") supports HTML5 video
            .ort-profile__info
                .ort-profile__photo(style='background-image: url("../media/photo.png")')
                .ort-profile__name Sandra Star
                ul.ort-profile__props
                    li
                        span.ort-profile__prop-title Downloaded:&thinsp;
                        a.ort-profile__prop-value(href='') 2011
                    li
                        span.ort-profile__prop-title Age:&thinsp;
                        span.ort-profile__prop-value 26 years
                    li
                        span.ort-profile__prop-title Activities:&thinsp;
                        span.ort-profile__prop-value
                            a(href='') Facial
                            | ,&#32;
                            a(href='') Cum Shots
                            | ,&#32;
                            a(href='') Amateur
                            | ,&#32;
                            a(href='') Blowjob
                .ort-profile__notes
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    | the industry's standard dummy text.

        .ort-profile__videos
            .ort-profile__videos-title
                h2 Sandra's Videos
            .ort-profile__videos-list
                .ort-profile__videos-cont
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video4.png");')
                            .ort-social-ico.ort-social-ico_instagramm
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video3.png");')
                            .ort-social-ico.ort-social-ico_facebook
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video2.png");')
                            .ort-social-ico.ort-social-ico_google
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video1.png");')
                            .ort-social-ico.ort-social-ico_tamblr
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video8.png");')
                            .ort-social-ico.ort-social-ico_google
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video7.png");')
                            .ort-social-ico.ort-social-ico_google
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video6.png");')
                            .ort-social-ico.ort-social-ico_flickr
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video5.png");')
                            .ort-social-ico.ort-social-ico_flickr
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video12.png");')
                            .ort-social-ico.ort-social-ico_flickr
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video11.png");')
                            .ort-social-ico.ort-social-ico_pinterest
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video10.png");')
                            .ort-social-ico.ort-social-ico_google
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
                    .ort-profile__video
                        .ort-profile__video-cover(style='background-image: url("../media/video9.png");')
                            .ort-social-ico.ort-social-ico_instagram
                        .ort-profile__video-title Amazing blonde with tattoos doing some shit
                        a.ort-profile__video-link(href='')
            .ort-profile__videos-more
                button(type='button') Show More

ortnec/dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ortnec Test Task</title>
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png">
    <link href="libs/normalize.css/normalize.css" rel="stylesheet">
    <link href="libs/video.js/video-js.min.css" rel="stylesheet">
    <link href="css/ortnec.css" rel="stylesheet">
    <script src="libs/background-size-emu/background_size_emu.js"></script>
    <script src="libs/video.js/ie8/videojs-ie8.min.js"></script>
    <script src="libs/video.js/video.min.js"></script>
    <script>videojs.options.flash.swf = 'libs/video.js/video-js.swf';</script><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body class="ort">
    <div class="ort-container">
      <div class="ort-header">
        <div class="ort-header__top"><span class="ort-header__downloaded">321654 Profiles downloaded</span></div>
        <div class="ort-header__main">
          <div class="ort-header__logo"><a href=""></a></div>
          <div class="ort-header__title"><span>Ortnec Test Task</span></div>
          <button type="button" class="ort-menu__btn"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <div class="ort-header__profiles">
            <div class="ort-header__profile"><img src="../media/girl1.png" class="ort-header__profile-img"><a href="" class="ort-header__profile-link"></a>
              <div class="ort-social-ico ort-social-ico_instagramm"></div>
            </div>
            <div class="ort-header__profile"><img src="../media/girl2.png" class="ort-header__profile-img"><a href="" class="ort-header__profile-link"></a>
              <div class="ort-social-ico ort-social-ico_pinterest"></div>
            </div>
            <div class="ort-header__profile"><img src="../media/girl3.png" class="ort-header__profile-img"><a href="" class="ort-header__profile-link"></a>
              <div class="ort-social-ico ort-social-ico_twitter"></div>
            </div>
            <div class="ort-header__profile"><img src="../media/girl4.png" class="ort-header__profile-img"><a href="" class="ort-header__profile-link"></a>
              <div class="ort-social-ico ort-social-ico_facebook"></div>
            </div>
            <div class="ort-profiles-lock">
              <div class="ort-profiles-lock__light"><a href="" class="ort-profiles-lock__link"><i class="ort-social-ico ort-social-ico_facebook"></i></a></div>
              <div class="ort-profiles-lock__dark"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="ort-menu">
        <div class="ort-menu__cont">
          <div class="ort-menu__items">
            <div class="ort-menu__item"><a href="" class="ort-menu__link"><i class="ort-menu__ico ort-menu__ico_home"></i><span class="ort-menu__text">Home</span></a></div>
            <div class="ort-menu__item"><a href="" class="ort-menu__link"><i class="ort-menu__ico ort-menu__ico_bonus"></i><span class="ort-menu__text">Bonus Content</span></a></div>
            <div class="ort-menu__item"><a href="" class="ort-menu__link"><i class="ort-menu__ico ort-menu__ico_chat"></i><span class="ort-menu__text">Sex Chat</span></a></div>
            <div class="ort-menu__item"><a href="" class="ort-menu__link"><i class="ort-menu__ico ort-menu__ico_hot"></i><span class="ort-menu__text">Hot Sites</span></a></div>
            <div class="ort-menu__item active"><a href="" class="ort-menu__link"><i class="ort-menu__ico ort-menu__ico_favorites"></i><span class="ort-menu__text">Favorites</span></a></div>
            <div class="ort-menu__item"><a href="" class="ort-menu__link"><i class="ort-menu__ico ort-menu__ico_out"></i><span class="ort-menu__text">Sign Out</span></a></div>
          </div>
        </div>
      </div>
      <div class="ort-main">
        <div class="ort-profile">
          <div class="ort-profile__main">
            <div class="ort-profile__main-video">
              <video id="ort-profile-video" class="ort-player video-js vjs-big-play-centered">
                <source src="../media/video_720.mp4" type="video/mp4" q="lq" size="1 Mb">
                <source src="../media/video.webm" type="video/webm" q="lq" size="1 Mb">
                <source src="../media/video.ogg" type="video/ogg" q="lq" size="1 Mb">
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that&thinsp;<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
              </video>
            </div>
            <div class="ort-profile__info">
              <div style="background-image: url(&quot;../media/photo.png&quot;)" class="ort-profile__photo"></div>
              <div class="ort-profile__name">Sandra Star</div>
              <ul class="ort-profile__props">
                <li><span class="ort-profile__prop-title">Downloaded:&thinsp;</span><a href="" class="ort-profile__prop-value">2011</a></li>
                <li><span class="ort-profile__prop-title">Age:&thinsp;</span><span class="ort-profile__prop-value">26 years</span></li>
                <li><span class="ort-profile__prop-title">Activities:&thinsp;</span><span class="ort-profile__prop-value"><a href="">Facial</a>,&#32;<a href="">Cum Shots</a>,&#32;<a href="">Amateur</a>,&#32;<a href="">Blowjob</a></span></li>
              </ul>
              <div class="ort-profile__notes">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text.
              </div>
            </div>
          </div>
          <div class="ort-profile__videos">
            <div class="ort-profile__videos-title">
              <h2>Sandra's Videos</h2>
            </div>
            <div class="ort-profile__videos-list">
              <div class="ort-profile__videos-cont">
                <div class="ort-profile__video">
                  <div style="background-image: url(&quot;../media/video4.png&quot;);" class="ort-profile__video-cover">
                    <div class="ort-social-ico ort-social-ico_instagramm"></div>
                  </div>
                  <div class="ort-profile__video-title">Amazing blonde with tattoos doing some shit</div><a href="" class="ort-profile__video-link"></a>
                </div>
                <div class="ort-profile__video">
                  <div style="background-image: url(&quot;../media/video3.png&quot;);" class="ort-profile__video-cover">
                    <div class="ort-social-ico ort-social-ico_facebook"></div>
                  </div>
                  <div class="ort-profile__video-title">Amazing blonde with tattoos doing some shit</div><a href="" class="ort-profile__video-link"></a>
                </div>
                <div class="ort-profile__video">
                  <div style="background-image: url(&quot;../media/video2.png&quot;);" class="ort-profile__video-cover">
                    <div class="ort-social-ico ort-social-ico_google"></div>
                  </div>
                  <div class="ort-profile__video-title">Amazing blonde with tattoos doing some shit</div><a href="" class="ort-profile__video-link"></a>
                </div>
                <div class="ort-profile__video">
                  <div style="background-image: url(&quot;../media/video1.png&quot;);" class="ort-profile__video-cover">
                    <div class="ort-social-ico ort-social-ico_tamblr"></div>
                  </div>
                  <div class="ort-profile__video-title">Amazing blonde with tattoos doing some shit</div><a href="" class="ort-profile__video-link"></a>
                </div>
                <div class="ort-profile__video">
                  <div style="background-image: url(&quot;../media/video8.png&quot;);" class="ort-profile__video-cover">
                    <div class="ort-social-ico ort-social-ico_google"></div>
                  </div>
                  <div class="ort-profile__video-title">Amazing blonde with tattoos doing some shit</div><a href="" class="ort-profile__video-link"></a>
                </div>
                <div class="ort-profile__video">
                  <div style="background-image: url(&quot;../media/video7.png&quot;);" class="ort-profile__video-cover">
                    <div class="ort-social-ico ort-social-ico_google"></div>
                  </div>
                  <div class="ort-profile__video-title">Amazing blonde with tattoos doing some shit</div><a href="" class="ort-profile__video-link"></a>
                </div>
                <div class="ort-profile__video">
                  <div style="background-image: url(&quot;../media/video6.png&quot;);" class="ort-profile__video-cover">
                    <div class="ort-social-ico ort-social-ico_flickr"></div>
                  </div>
                  <div class="ort-profile__video-title">Amazing blonde with tattoos doing some shit</div><a href="" class="ort-profile__video-link"></a>
                </div>
                <div class="ort-profile__video">
                  <div style="background-image: url(&quot;../media/video5.png&quot;);" class="ort-profile__video-cover">
                    <div class="ort-social-ico ort-social-ico_flickr"></div>
                  </div>
                  <div class="ort-profile__video-title">Amazing blonde with tattoos doing some shit</div><a href="" class="ort-profile__video-link"></a>
                </div>
                <div class="ort-profile__video">
                  <div style="background-image: url(&quot;../media/video12.png&quot;);" class="ort-profile__video-cover">
                    <div class="ort-social-ico ort-social-ico_flickr"></div>
                  </div>
                  <div class="ort-profile__video-title">Amazing blonde with tattoos doing some shit</div><a href="" class="ort-profile__video-link"></a>
                </div>
                <div class="ort-profile__video">
                  <div style="background-image: url(&quot;../media/video11.png&quot;);" class="ort-profile__video-cover">
                    <div class="ort-social-ico ort-social-ico_pinterest"></div>
                  </div>
                  <div class="ort-profile__video-title">Amazing blonde with tattoos doing some shit</div><a href="" class="ort-profile__video-link"></a>
                </div>
                <div class="ort-profile__video">
                  <div style="background-image: url(&quot;../media/video10.png&quot;);" class="ort-profile__video-cover">
                    <div class="ort-social-ico ort-social-ico_google"></div>
                  </div>
                  <div class="ort-profile__video-title">Amazing blonde with tattoos doing some shit</div><a href="" class="ort-profile__video-link"></a>
                </div>
                <div class="ort-profile__video">
                  <div style="background-image: url(&quot;../media/video9.png&quot;);" class="ort-profile__video-cover">
                    <div class="ort-social-ico ort-social-ico_instagram"></div>
                  </div>
                  <div class="ort-profile__video-title">Amazing blonde with tattoos doing some shit</div><a href="" class="ort-profile__video-link"></a>
                </div>
              </div>
            </div>
            <div class="ort-profile__videos-more">
              <button type="button">Show More</button>
            </div>
          </div>
        </div>
      </div>
      <div class="ort-footer">
        <div class="ort-footer__copyright">Copyright © 2014 Eurorevenue.Com</div>
        <p>All girls appearing on this website are 18 years or older. Click&thinsp;<a href="">here</a>&thinsp;for 18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement. By entering this site you swear
          you are of legal age in your area to view adult material and that you wish to view such material.
        </p>
        <div class="ort-footer__menu">
          <div class="ort-footer__menu-item"><a href="" class="ort-footer__menu-link">Webmaster Program</a></div>
          <div class="ort-footer__menu-item"><a href="" class="ort-footer__menu-link">Terms of Service</a></div>
          <div class="ort-footer__menu-item"><a href="" class="ort-footer__menu-link">Customer and Billing Support</a></div>
          <div class="ort-footer__menu-item"><a href="" class="ort-footer__menu-link">Privicy Policy</a></div>
        </div>
      </div>
      <div class="ort-up ort-up_hidden">
        <button type="button">Up</button>
      </div>
      <div class="ort-notif">
        <div class="ort-notif__new">
          <div class="ort-notif__count">3</div>
          <div class="ort-notif__profiles">
            <div class="ort-notif__kind">New</div>
            <div class="ort-notif__what">Profiles</div>
          </div>
        </div>
        <div class="ort-notif__check">Check Now!</div><a href="" class="ort-notif__link"></a>
      </div>
      <script src="libs/jquery/jquery.min.js"></script>
      <script src="libs/video.js/plugins/videojs-resolution-switcher.js"></script>
      <script src="libs/video.js/plugins/videojs-downloader.js"></script>
      <script src="libs/video.js/plugins/videojs-tiny-plugins.js"></script>
      <script src="js/ort-player.js"></script>
      <script src="js/ortnec.js"></script>
    </div>
  </body>
</html>
