admin/source/jade/feedback.jade
extends ./include/layout.jade
block vars
    - var page = 'feedback'
block main
    .header
        .header__cont
            .header__title.cleanvertising Обратная связь
    .main__filter
        .form-inline
            .form-group
                label Сортировать по:
                select.selectpicker(data-style="")
                    option Имени
                    option Блокировкам
    .main__content
        .feedback
            .feedback__list
                .feedback__msg
                    .feedback__head
                        span.label.label-new Новое
                        span.feedback__username Николай Смирнов
                        span.feedback__date 15:35 20 октября 2015
                    .feedback__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России, за 5 лет ущерб российской экономики составил 5,5 триллиона рублей, что сопоставимо со всеми расходами на здравоохранение за тот же период.
                    .feedback__info
                        span.feedback__address Адрес: ул. Ленина, 1
                        span.feedback__email Email: nicks@mail.ru
                        span.feedback__phone Телефон: +7 (915) 555-56-59
                .feedback__msg
                    .feedback__head
                        span.label.label-new Новое
                        span.feedback__username Степан Панфилов
                        span.feedback__date 15:35 20 октября 2015
                    .feedback__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России.
                    .feedback__info
                        span.feedback__address Адрес: ул. Ленина, 1
                        span.feedback__email Email: step@mail.ru
                .feedback__msg
                    .feedback__head
                        span.feedback__username Елена Малышева
                        span.feedback__date 15:35 20 октября 2015
                    .feedback__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб.
                    .feedback__info
                        span.feedback__address Адрес: ул. Ленина, 1
                        span.feedback__email Email: nicks@mail.ru
                        span.feedback__phone Телефон: +7 (915) 555-56-59

admin/dist/feedback.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Test Task</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="css/admin.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <div class="userbar">
          <div style="background-image: url(&quot;https://randomuser.me/api/portraits/thumb/men/49.jpg&quot;)" class="userbar__photo"></div>
          <div class="userbar__name"><span>Admin</span><i class="chevron fa fa-chevron-down"></i></div>
        </div>
        <div class="menu">
          <ul class="nav">
            <li><a href="feed.html">Лента событий</a></li>
            <li><a href="userslist.html">Список пользователей</a></li>
            <li class="active"><a href="feedback.html">Обратная связь<span class="badge pull-right">2</span></a></li>
            <li><a href="users.html">Учетные записи</a></li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="header">
          <div class="header__cont">
            <div class="header__title cleanvertising">Обратная связь</div>
          </div>
        </div>
        <div class="main__filter">
          <div class="form-inline">
            <div class="form-group">
              <label>Сортировать по:</label>
              <select data-style="" class="selectpicker">
                <option>Имени</option>
                <option>Блокировкам</option>
              </select>
            </div>
          </div>
        </div>
        <div class="main__content">
          <div class="feedback">
            <div class="feedback__list">
              <div class="feedback__msg">
                <div class="feedback__head"><span class="label label-new">Новое</span><span class="feedback__username">Николай Смирнов</span><span class="feedback__date">15:35 20 октября 2015</span></div>
                <div class="feedback__text">
                  <p>Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России, за 5 лет ущерб российской экономики составил 5,5 триллиона рублей, что сопоставимо со всеми расходами на здравоохранение за тот же период.</p>
                </div>
                <div class="feedback__info"><span class="feedback__address">Адрес: ул. Ленина, 1</span><span class="feedback__email">Email: nicks@mail.ru</span><span class="feedback__phone">Телефон: +7 (915) 555-56-59</span></div>
              </div>
              <div class="feedback__msg">
                <div class="feedback__head"><span class="label label-new">Новое</span><span class="feedback__username">Степан Панфилов</span><span class="feedback__date">15:35 20 октября 2015</span></div>
                <div class="feedback__text">
                  <p>Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России.</p>
                </div>
                <div class="feedback__info"><span class="feedback__address">Адрес: ул. Ленина, 1</span><span class="feedback__email">Email: step@mail.ru</span></div>
              </div>
              <div class="feedback__msg">
                <div class="feedback__head"><span class="feedback__username">Елена Малышева</span><span class="feedback__date">15:35 20 октября 2015</span></div>
                <div class="feedback__text">
                  <p>Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб.</p>
                </div>
                <div class="feedback__info"><span class="feedback__address">Адрес: ул. Ленина, 1</span><span class="feedback__email">Email: nicks@mail.ru</span><span class="feedback__phone">Телефон: +7 (915) 555-56-59</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="js/admin.js"></script>
  </body>
</html>
