admin/source/jade/feed.jade
extends ./include/layout.jade
block vars
    - var page = 'feed'
block main
    .header
        .header__cont
            .header__title.cleanvertising Лента событий
            .header__action
                .header__btn
                    a.btn.btn-success(href='') Добавить новую запись
    .main__filter
        .form-inline
            .form-group.input-daterange
                label Показывать эвакуации с
                .input-group
                    .input-ico.input-ico_left
                        .fa.fa-calendar-o
                    input.form-control(type="text", value="01.10.15")
                    .input-ico.input-ico_right
                        .fa.fa-chevron-down
                label по
                .input-group
                    .input-ico.input-ico_left
                        .fa.fa-calendar-o
                    input.form-control(type="text", value="20.10.15")
                    .input-ico.input-ico_right
                        .fa.fa-chevron-down
    .main__content
        .feed
            .feed__title.cleanvertising 50 сообщений
            .feed__list
                .feed__post
                    .feed__photo(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                    .feed__postbody
                        .feed__post-cont
                            div
                                span.feed__username Николай Смирнов
                                span.feed__date 20 октября 2015
                            .feed__content
                                p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России, за 5 лет ущерб российской экономики составил 5,5 триллиона рублей, что сопоставимо со всеми расходами на здравоохранение за тот же период.
                            .feed__address Адрес: ул. Ленина, 1
                    .feed__close
                        .fa.fa-close
                .feed__post
                    .feed__photo(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                    .feed__postbody
                        .feed__post-cont
                            div
                                span.feed__username Степан Панфилов
                                span.feed__date 20:47 20 октября 2015
                            .feed__content
                                p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России, за 5 лет ущерб российской экономики составил 5,5 триллиона рублей, что сопоставимо со всеми расходами на здравоохранение за тот же период.
                                img(src='http://g2.delphi.lv/images/pix/900x471/2EaHyP8hpd0/v-sigulde-polyaki-nashih-byut-44035399.jpg')
                    .feed__close
                        .fa.fa-close
                .feed__post
                    .feed__photo(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                    .feed__postbody
                        .feed__post-cont
                            div
                                span.feed__username Александр Лыков
                                span.feed__date 15:35 20 октября 2015
                            .feed__content
                                p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России, за 5 лет ущерб российской экономики составил 5,5 триллиона рублей, что сопоставимо со всеми расходами на здравоохранение за тот же период.
                            .feed__address Адрес: ул. Разбитых фонарей, 1
                    .feed__close
                        .fa.fa-close

admin/dist/feed.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Test Task</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="css/admin.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <div class="userbar">
          <div style="background-image: url(&quot;https://randomuser.me/api/portraits/thumb/men/49.jpg&quot;)" class="userbar__photo"></div>
          <div class="userbar__name"><span>Admin</span><i class="chevron fa fa-chevron-down"></i></div>
        </div>
        <div class="menu">
          <ul class="nav">
            <li class="active"><a href="feed.html">Лента событий</a></li>
            <li><a href="userslist.html">Список пользователей</a></li>
            <li><a href="feedback.html">Обратная связь<span class="badge pull-right">2</span></a></li>
            <li><a href="users.html">Учетные записи</a></li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="header">
          <div class="header__cont">
            <div class="header__title cleanvertising">Лента событий</div>
            <div class="header__action">
              <div class="header__btn"><a href="" class="btn btn-success">Добавить новую запись</a></div>
            </div>
          </div>
        </div>
        <div class="main__filter">
          <div class="form-inline">
            <div class="form-group input-daterange">
              <label>Показывать эвакуации с</label>
              <div class="input-group">
                <div class="input-ico input-ico_left">
                  <div class="fa fa-calendar-o"></div>
                </div>
                <input type="text" value="01.10.15" class="form-control">
                <div class="input-ico input-ico_right">
                  <div class="fa fa-chevron-down"></div>
                </div>
              </div>
              <label>по</label>
              <div class="input-group">
                <div class="input-ico input-ico_left">
                  <div class="fa fa-calendar-o"></div>
                </div>
                <input type="text" value="20.10.15" class="form-control">
                <div class="input-ico input-ico_right">
                  <div class="fa fa-chevron-down"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main__content">
          <div class="feed">
            <div class="feed__title cleanvertising">50 сообщений</div>
            <div class="feed__list">
              <div class="feed__post">
                <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')" class="feed__photo"></div>
                <div class="feed__postbody">
                  <div class="feed__post-cont">
                    <div><span class="feed__username">Николай Смирнов</span><span class="feed__date">20 октября 2015</span></div>
                    <div class="feed__content">
                      <p>Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России, за 5 лет ущерб российской экономики составил 5,5 триллиона рублей, что сопоставимо со всеми расходами на здравоохранение за тот же период.</p>
                    </div>
                    <div class="feed__address">Адрес: ул. Ленина, 1</div>
                  </div>
                </div>
                <div class="feed__close">
                  <div class="fa fa-close"></div>
                </div>
              </div>
              <div class="feed__post">
                <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')" class="feed__photo"></div>
                <div class="feed__postbody">
                  <div class="feed__post-cont">
                    <div><span class="feed__username">Степан Панфилов</span><span class="feed__date">20:47 20 октября 2015</span></div>
                    <div class="feed__content">
                      <p>Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России, за 5 лет ущерб российской экономики составил 5,5 триллиона рублей, что сопоставимо со всеми расходами на здравоохранение за тот же период.</p><img src="http://g2.delphi.lv/images/pix/900x471/2EaHyP8hpd0/v-sigulde-polyaki-nashih-byut-44035399.jpg">
                    </div>
                  </div>
                </div>
                <div class="feed__close">
                  <div class="fa fa-close"></div>
                </div>
              </div>
              <div class="feed__post">
                <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')" class="feed__photo"></div>
                <div class="feed__postbody">
                  <div class="feed__post-cont">
                    <div><span class="feed__username">Александр Лыков</span><span class="feed__date">15:35 20 октября 2015</span></div>
                    <div class="feed__content">
                      <p>Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб. Экономический ущерб от ДТП может доходить до 5 % валового национального продукта (ВНП); в России ежегодно в ДТП погибают около 27 000 человек, ущерб от всех ДТП составляет около 2,5 % ВНП России, за 5 лет ущерб российской экономики составил 5,5 триллиона рублей, что сопоставимо со всеми расходами на здравоохранение за тот же период.</p>
                    </div>
                    <div class="feed__address">Адрес: ул. Разбитых фонарей, 1</div>
                  </div>
                </div>
                <div class="feed__close">
                  <div class="fa fa-close"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="js/admin.js"></script>
  </body>
</html>
