admin/source/jade/login.jade
doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Admin Test Task
        include ./include/styles.jade
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        <![endif]-->
    body
        .wrapper
            .login
                .login__form
                    form(action='index.html')
                        .login__title Авторизация
                        .form-group
                            input.form-control.login__login(type='text', placeholder='Логин')
                        .form-group
                            input.form-control.login__password(type='password', placeholder='Пароль')
                        .checkbox.login__remember
                            input#remember(type='checkbox')
                            label(for='remember') Запомнить меня
                        .login__submit
                            button.btn.btn-success.btn-block(type='submit') Войти

        include ./include/js.jade

admin/dist/login.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Test Task</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="css/admin.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="login">
        <div class="login__form">
          <form action="index.html">
            <div class="login__title">Авторизация</div>
            <div class="form-group">
              <input type="text" placeholder="Логин" class="form-control login__login">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Пароль" class="form-control login__password">
            </div>
            <div class="checkbox login__remember">
              <input id="remember" type="checkbox">
              <label for="remember">Запомнить меня</label>
            </div>
            <div class="login__submit">
              <button type="submit" class="btn btn-success btn-block">Войти</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="js/admin.js"></script>
  </body>
</html>
