admin/dist/new-user.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Test Task</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="css/admin.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <div class="userbar">
          <div style="background-image: url(&quot;https://randomuser.me/api/portraits/thumb/men/49.jpg&quot;)" class="userbar__photo"></div>
          <div class="userbar__name"><span>Admin</span><i class="chevron fa fa-chevron-down"></i></div>
        </div>
        <div class="menu">
          <ul class="nav">
            <li><a href="feed.html">Лента событий</a></li>
            <li><a href="userslist.html">Список пользователей</a></li>
            <li><a href="feedback.html">Обратная связь<span class="badge pull-right">2</span></a></li>
            <li class="active"><a href="users.html">Учетные записи</a></li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="header">
          <div class="header__cont">
            <div class="header__title cleanvertising">Создание новой учетной записи</div>
          </div>
        </div>
        <div class="main__content">
          <div class="main__form">
            <div class="main__form-cont">
              <form>
                <div class="form-group">
                  <label>nikolaysmirnov@mail.ru</label>
                  <input type="password" class="form-control">
                </div>
                <div class="main__form-submit">
                  <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="js/admin.js"></script>
  </body>
</html>

admin/source/jade/new-user.jade
extends ./include/layout.jade
block vars
    - var page = 'users'
block main
    .header
        .header__cont
            .header__title.cleanvertising Создание новой учетной записи
    .main__content
        .main__form
            .main__form-cont
                form
                    .form-group
                        label nikolaysmirnov@mail.ru
                        input.form-control(type='password')
                    .main__form-submit
                        button.btn.btn-success(type='submit') Сохранить
