admin/source/jade/new-post.jade
extends ./include/layout.jade
block vars
    - var page = 'feed'
block main
    .header
        .header__cont
            .header__title.cleanvertising Добавление новой записи
        .header__backlink
            a(href='feed.html')
                i.fa.fa-arrow-left
                span Лента эвакуации
    .main__content
        .post.post_new
            .post__body
                .post__field
                    .post__title.editable Текст сообщения
                    .post__data
                        .post__text
                            p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб.
                .post__field
                    .post__title.editable Фотография
                    .post__data
                        .post__img
                            img(src='http://g2.delphi.lv/images/pix/900x471/2EaHyP8hpd0/v-sigulde-polyaki-nashih-byut-44035399.jpg')
                            .post__img-name wrong_parking.png
                            .post__img-add
                                button.btn.btn-default(type='button') Добавить фотографию
                            .post__close
                                i.fa.fa-close
            .post__add
                button.btn.btn-success(type='button') Добавить запись

admin/dist/new-post.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Test Task</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="css/admin.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <div class="userbar">
          <div style="background-image: url(&quot;https://randomuser.me/api/portraits/thumb/men/49.jpg&quot;)" class="userbar__photo"></div>
          <div class="userbar__name"><span>Admin</span><i class="chevron fa fa-chevron-down"></i></div>
        </div>
        <div class="menu">
          <ul class="nav">
            <li class="active"><a href="feed.html">Лента событий</a></li>
            <li><a href="userslist.html">Список пользователей</a></li>
            <li><a href="feedback.html">Обратная связь<span class="badge pull-right">2</span></a></li>
            <li><a href="users.html">Учетные записи</a></li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="header">
          <div class="header__cont">
            <div class="header__title cleanvertising">Добавление новой записи</div>
          </div>
          <div class="header__backlink"><a href="feed.html"><i class="fa fa-arrow-left"></i><span>Лента эвакуации</span></a></div>
        </div>
        <div class="main__content">
          <div class="post post_new">
            <div class="post__body">
              <div class="post__field">
                <div class="post__title editable">Текст сообщения</div>
                <div class="post__data">
                  <div class="post__text">
                    <p>Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб.</p>
                  </div>
                </div>
              </div>
              <div class="post__field">
                <div class="post__title editable">Фотография</div>
                <div class="post__data">
                  <div class="post__img"><img src="http://g2.delphi.lv/images/pix/900x471/2EaHyP8hpd0/v-sigulde-polyaki-nashih-byut-44035399.jpg">
                    <div class="post__img-name">wrong_parking.png</div>
                    <div class="post__img-add">
                      <button type="button" class="btn btn-default">Добавить фотографию</button>
                    </div>
                    <div class="post__close"><i class="fa fa-close"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__add">
              <button type="button" class="btn btn-success">Добавить запись</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="js/admin.js"></script>
  </body>
</html>
