admin/source/jade/profile.jade
extends ./include/layout.jade
block vars
    - var page = 'userslist'
block main
    .header
        .header__cont
            .header__title.cleanvertising Профиль пользователя
        .header__backlink
            a(href='users.html')
                i.fa.fa-arrow-left
                span Список пользователей
    .main__content
        .profile
            .profile__props
                .container-fluid
                    .row
                        .col-md-4.col-sm-4.col-xs-4
                            .profile__prop
                                .profile__prop-title.editable Фотография пользователя
                                .profile__prop-data
                                    .profile__photo(style="background-image: url('http://webdvs.com/wp-content/uploads/2014/05/05.jpg')")
                        .col-md-4.col-sm-4.col-xs-4
                            .profile__prop
                                .profile__prop-title.editable Никнейм
                                .profile__prop-data
                                    span Nikolay
                            .profile__prop
                                .profile__prop-title.editable Email
                                .profile__prop-data
                                    span nick@mail.ru
                        .col-md-4.col-sm-4.col-xs-4
                            .profile__prop
                                .profile__prop-title.editable Транспортные средства
                                .profile__prop-data
                                    ul
                                        li Skoda Octavia A526AE
                                        li BMW X6 E666KX
                            .profile__prop
                                .profile__prop-title.editable Пол
                                .profile__prop-data
                                    span Мужской
            .profile__info
                .profile__info-field
                    .profile__info-title Дата регистрации
                    .profile__info-data 20.10.2015
                .profile__info-field
                    .profile__info-title Баллы / Благодарности
                    .profile__info-data 594 054
                .profile__info-field
                    .profile__info-title Последнее зарегистрированное местоположение этого пользователя
                    .profile__info-data
                        i.fa.fa-map-marker
                        | &nbsp;
                        span ул. Ленина, 1
                .profile__info-field
                    .profile__info-title.editable Состояние учетной записи пользователя: активен или заблокирован
                    .profile__info-data
                        span.profile__status Активен
                .profile__info-field
                    .profile__info-title Количество блокировок этого пользователя другими пользователями
                    .profile__info-data Нет блокировок
            .profile-msg__list
                .profile-msg__title.cleanvertising Последние сообщения
                .profile-msg
                    .profile-msg__head
                        span.profile-msg__subject Название темы
                        span.profile-msg__date 15:35 20 октября 2015
                    .profile-msg__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства.
                    .profile-msg__address Адрес: ул. Ленина, 1
                .profile-msg
                    .profile-msg__head
                        span.profile-msg__subject Название темы
                        span.profile-msg__date 15:35 20 октября 2015
                    .profile-msg__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб.
                    .profile-msg__address Адрес: ул. Ленина, 1
                .profile-msg
                    .profile-msg__head
                        span.profile-msg__subject Название темы
                        span.profile-msg__date 15:35 20 октября 2015
                    .profile-msg__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства.
                    .profile-msg__address Адрес: ул. Ленина, 1
                .profile-msg
                    .profile-msg__head
                        span.profile-msg__subject Название темы
                        span.profile-msg__date 15:35 20 октября 2015
                    .profile-msg__text
                        p Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб.
                    .profile-msg__address Адрес: ул. Ленина, 1

admin/dist/profile.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Test Task</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="css/admin.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <div class="userbar">
          <div style="background-image: url(&quot;https://randomuser.me/api/portraits/thumb/men/49.jpg&quot;)" class="userbar__photo"></div>
          <div class="userbar__name"><span>Admin</span><i class="chevron fa fa-chevron-down"></i></div>
        </div>
        <div class="menu">
          <ul class="nav">
            <li><a href="feed.html">Лента событий</a></li>
            <li><a href="userslist.html">Список пользователей</a></li>
            <li><a href="feedback.html">Обратная связь<span class="badge pull-right">2</span></a></li>
            <li><a href="users.html">Учетные записи</a></li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="header">
          <div class="header__cont">
            <div class="header__title cleanvertising">Профиль пользователя</div>
          </div>
          <div class="header__backlink"><a href="users.html"><i class="fa fa-arrow-left"></i><span>Список пользователей</span></a></div>
        </div>
        <div class="main__content">
          <div class="profile">
            <div class="profile__props">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="profile__prop">
                      <div class="profile__prop-title editable">Фотография пользователя</div>
                      <div class="profile__prop-data">
                        <div style="background-image: url('http://webdvs.com/wp-content/uploads/2014/05/05.jpg')" class="profile__photo"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="profile__prop">
                      <div class="profile__prop-title editable">Никнейм</div>
                      <div class="profile__prop-data"><span>Nikolay</span></div>
                    </div>
                    <div class="profile__prop">
                      <div class="profile__prop-title editable">Email</div>
                      <div class="profile__prop-data"><span>nick@mail.ru</span></div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="profile__prop">
                      <div class="profile__prop-title editable">Транспортные средства</div>
                      <div class="profile__prop-data">
                        <ul>
                          <li>Skoda Octavia A526AE</li>
                          <li>BMW X6 E666KX</li>
                        </ul>
                      </div>
                    </div>
                    <div class="profile__prop">
                      <div class="profile__prop-title editable">Пол</div>
                      <div class="profile__prop-data"><span>Мужской</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="profile__info">
              <div class="profile__info-field">
                <div class="profile__info-title">Дата регистрации</div>
                <div class="profile__info-data">20.10.2015</div>
              </div>
              <div class="profile__info-field">
                <div class="profile__info-title">Баллы / Благодарности</div>
                <div class="profile__info-data">594 054</div>
              </div>
              <div class="profile__info-field">
                <div class="profile__info-title">Последнее зарегистрированное местоположение этого пользователя</div>
                <div class="profile__info-data"><i class="fa fa-map-marker"></i>&nbsp;<span>ул. Ленина, 1</span></div>
              </div>
              <div class="profile__info-field">
                <div class="profile__info-title editable">Состояние учетной записи пользователя: активен или заблокирован</div>
                <div class="profile__info-data"><span class="profile__status">Активен</span></div>
              </div>
              <div class="profile__info-field">
                <div class="profile__info-title">Количество блокировок этого пользователя другими пользователями</div>
                <div class="profile__info-data">Нет блокировок</div>
              </div>
            </div>
            <div class="profile-msg__list">
              <div class="profile-msg__title cleanvertising">Последние сообщения</div>
              <div class="profile-msg">
                <div class="profile-msg__head"><span class="profile-msg__subject">Название темы</span><span class="profile-msg__date">15:35 20 октября 2015</span></div>
                <div class="profile-msg__text">
                  <p>Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства.</p>
                </div>
                <div class="profile-msg__address">Адрес: ул. Ленина, 1</div>
              </div>
              <div class="profile-msg">
                <div class="profile-msg__head"><span class="profile-msg__subject">Название темы</span><span class="profile-msg__date">15:35 20 октября 2015</span></div>
                <div class="profile-msg__text">
                  <p>Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб.</p>
                </div>
                <div class="profile-msg__address">Адрес: ул. Ленина, 1</div>
              </div>
              <div class="profile-msg">
                <div class="profile-msg__head"><span class="profile-msg__subject">Название темы</span><span class="profile-msg__date">15:35 20 октября 2015</span></div>
                <div class="profile-msg__text">
                  <p>Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства.</p>
                </div>
                <div class="profile-msg__address">Адрес: ул. Ленина, 1</div>
              </div>
              <div class="profile-msg">
                <div class="profile-msg__head"><span class="profile-msg__subject">Название темы</span><span class="profile-msg__date">15:35 20 октября 2015</span></div>
                <div class="profile-msg__text">
                  <p>Cобытие, возникшее в процессе движения по дороге транспортного средства и с его участием, при котором погибли или пострадали люди, повреждены транспортные средства, сооружения, грузы, либо причинён иной материальный ущерб.</p>
                </div>
                <div class="profile-msg__address">Адрес: ул. Ленина, 1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="js/admin.js"></script>
  </body>
</html>
