admin/source/jade/userslist.jade
extends ./include/layout.jade
block vars
    - var page = 'users__list'
block main
    .header
        .header__cont
            .header__title.cleanvertising Список пользователей
            .header__action
                .header__search
                    form
                        .input-group
                            span.input-group-addon
                                i.fa.fa-search
                            input.form-control(type="text", placeholder="Имя, телефон или номер автомобиля")
    .main__filter
        .form-inline
            .form-group
                label Сортировать по:
                select.selectpicker(data-style="")
                    option Имени
                    option Блокировкам
    .main__content
        .users
            .users__title.cleanvertising 532 пользователя
            .users__list
                table.table.users__table
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                        td.users__name
                            .users__name-cont Николай Смирнов
                            .users__date 20 октября 2015
                        td.users__contact +7 (963) 518-18-56
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                        td.users__name
                            .users__name-cont Константин Константинопольский
                            .users__date 20 октября 2015
                        td.users__contact +7 (915) 915-23-88
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                        td.users__name
                            .users__name-cont Степан Панфилов
                            .users__date 20 октября 2015
                        td.users__contact +7 (961) 518-15-22
                        td.users__blocks.users__blocks_blocked заблокирован
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                        td.users__name
                            .users__name-cont Николай Смирнов
                            .users__date 20 октября 2015
                        td.users__contact +7 (963) 518-18-56
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                        td.users__name
                            .users__name-cont Константин Константинопольский
                            .users__date 20 октября 2015
                        td.users__contact +7 (915) 915-23-88
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                        td.users__name
                            .users__name-cont Степан Панфилов
                            .users__date 20 октября 2015
                        td.users__contact +7 (961) 518-15-22
                        td.users__blocks.users__blocks_blocked заблокирован
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                        td.users__name
                            .users__name-cont Николай Смирнов
                            .users__date 20 октября 2015
                        td.users__contact +7 (963) 518-18-56
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                        td.users__name
                            .users__name-cont Константин Константинопольский
                            .users__date 20 октября 2015
                        td.users__contact +7 (915) 915-23-88
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                        td.users__name
                            .users__name-cont Степан Панфилов
                            .users__date 20 октября 2015
                        td.users__contact +7 (961) 518-15-22
                        td.users__blocks.users__blocks_blocked заблокирован
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')")
                        td.users__name
                            .users__name-cont Николай Смирнов
                            .users__date 20 октября 2015
                        td.users__contact +7 (963) 518-18-56
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')")
                        td.users__name
                            .users__name-cont Константин Константинопольский
                            .users__date 20 октября 2015
                        td.users__contact +7 (915) 915-23-88
                        td.users__blocks 2 блокировки
                    tr
                        td.users__photo
                            .users__photo-cont(style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')")
                        td.users__name
                            .users__name-cont Степан Панфилов
                            .users__date 20 октября 2015
                        td.users__contact +7 (961) 518-15-22
                        td.users__blocks.users__blocks_blocked заблокирован

admin/dist/userslist.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Test Task</title>
    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="css/admin.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-favicon.png"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <div class="userbar">
          <div style="background-image: url(&quot;https://randomuser.me/api/portraits/thumb/men/49.jpg&quot;)" class="userbar__photo"></div>
          <div class="userbar__name"><span>Admin</span><i class="chevron fa fa-chevron-down"></i></div>
        </div>
        <div class="menu">
          <ul class="nav">
            <li><a href="feed.html">Лента событий</a></li>
            <li class="active"><a href="userslist.html">Список пользователей</a></li>
            <li><a href="feedback.html">Обратная связь<span class="badge pull-right">2</span></a></li>
            <li><a href="users.html">Учетные записи</a></li>
          </ul>
        </div>
      </div>
      <div class="main">
        <div class="header">
          <div class="header__cont">
            <div class="header__title cleanvertising">Список пользователей</div>
            <div class="header__action">
              <div class="header__search">
                <form>
                  <div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" placeholder="Имя, телефон или номер автомобиля" class="form-control">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="main__filter">
          <div class="form-inline">
            <div class="form-group">
              <label>Сортировать по:</label>
              <select data-style="" class="selectpicker">
                <option>Имени</option>
                <option>Блокировкам</option>
              </select>
            </div>
          </div>
        </div>
        <div class="main__content">
          <div class="users">
            <div class="users__title cleanvertising">532 пользователя</div>
            <div class="users__list">
              <table class="table users__table">
                <tr>
                  <td class="users__photo">
                    <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')" class="users__photo-cont"></div>
                  </td>
                  <td class="users__name">
                    <div class="users__name-cont">Николай Смирнов</div>
                    <div class="users__date">20 октября 2015</div>
                  </td>
                  <td class="users__contact">+7 (963) 518-18-56</td>
                  <td class="users__blocks">2 блокировки</td>
                </tr>
                <tr>
                  <td class="users__photo">
                    <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')" class="users__photo-cont"></div>
                  </td>
                  <td class="users__name">
                    <div class="users__name-cont">Константин Константинопольский</div>
                    <div class="users__date">20 октября 2015</div>
                  </td>
                  <td class="users__contact">+7 (915) 915-23-88</td>
                  <td class="users__blocks">2 блокировки</td>
                </tr>
                <tr>
                  <td class="users__photo">
                    <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')" class="users__photo-cont"></div>
                  </td>
                  <td class="users__name">
                    <div class="users__name-cont">Степан Панфилов</div>
                    <div class="users__date">20 октября 2015</div>
                  </td>
                  <td class="users__contact">+7 (961) 518-15-22</td>
                  <td class="users__blocks users__blocks_blocked">заблокирован</td>
                </tr>
                <tr>
                  <td class="users__photo">
                    <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')" class="users__photo-cont"></div>
                  </td>
                  <td class="users__name">
                    <div class="users__name-cont">Николай Смирнов</div>
                    <div class="users__date">20 октября 2015</div>
                  </td>
                  <td class="users__contact">+7 (963) 518-18-56</td>
                  <td class="users__blocks">2 блокировки</td>
                </tr>
                <tr>
                  <td class="users__photo">
                    <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')" class="users__photo-cont"></div>
                  </td>
                  <td class="users__name">
                    <div class="users__name-cont">Константин Константинопольский</div>
                    <div class="users__date">20 октября 2015</div>
                  </td>
                  <td class="users__contact">+7 (915) 915-23-88</td>
                  <td class="users__blocks">2 блокировки</td>
                </tr>
                <tr>
                  <td class="users__photo">
                    <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')" class="users__photo-cont"></div>
                  </td>
                  <td class="users__name">
                    <div class="users__name-cont">Степан Панфилов</div>
                    <div class="users__date">20 октября 2015</div>
                  </td>
                  <td class="users__contact">+7 (961) 518-15-22</td>
                  <td class="users__blocks users__blocks_blocked">заблокирован</td>
                </tr>
                <tr>
                  <td class="users__photo">
                    <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')" class="users__photo-cont"></div>
                  </td>
                  <td class="users__name">
                    <div class="users__name-cont">Николай Смирнов</div>
                    <div class="users__date">20 октября 2015</div>
                  </td>
                  <td class="users__contact">+7 (963) 518-18-56</td>
                  <td class="users__blocks">2 блокировки</td>
                </tr>
                <tr>
                  <td class="users__photo">
                    <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')" class="users__photo-cont"></div>
                  </td>
                  <td class="users__name">
                    <div class="users__name-cont">Константин Константинопольский</div>
                    <div class="users__date">20 октября 2015</div>
                  </td>
                  <td class="users__contact">+7 (915) 915-23-88</td>
                  <td class="users__blocks">2 блокировки</td>
                </tr>
                <tr>
                  <td class="users__photo">
                    <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')" class="users__photo-cont"></div>
                  </td>
                  <td class="users__name">
                    <div class="users__name-cont">Степан Панфилов</div>
                    <div class="users__date">20 октября 2015</div>
                  </td>
                  <td class="users__contact">+7 (961) 518-15-22</td>
                  <td class="users__blocks users__blocks_blocked">заблокирован</td>
                </tr>
                <tr>
                  <td class="users__photo">
                    <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/1.jpg')" class="users__photo-cont"></div>
                  </td>
                  <td class="users__name">
                    <div class="users__name-cont">Николай Смирнов</div>
                    <div class="users__date">20 октября 2015</div>
                  </td>
                  <td class="users__contact">+7 (963) 518-18-56</td>
                  <td class="users__blocks">2 блокировки</td>
                </tr>
                <tr>
                  <td class="users__photo">
                    <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/28.jpg')" class="users__photo-cont"></div>
                  </td>
                  <td class="users__name">
                    <div class="users__name-cont">Константин Константинопольский</div>
                    <div class="users__date">20 октября 2015</div>
                  </td>
                  <td class="users__contact">+7 (915) 915-23-88</td>
                  <td class="users__blocks">2 блокировки</td>
                </tr>
                <tr>
                  <td class="users__photo">
                    <div style="background-image: url('https://randomuser.me/api/portraits/thumb/men/2.jpg')" class="users__photo-cont"></div>
                  </td>
                  <td class="users__name">
                    <div class="users__name-cont">Степан Панфилов</div>
                    <div class="users__date">20 октября 2015</div>
                  </td>
                  <td class="users__contact">+7 (961) 518-15-22</td>
                  <td class="users__blocks users__blocks_blocked">заблокирован</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="js/admin.js"></script>
  </body>
</html>
